[submodule "vstgui"]
	path = vstgui
	url = https://github.com/steinbergmedia/vstgui
[submodule "dpf"]
	path = dpf
	url = https://git.kx.studio/DISTRHO/DPF.git
[submodule "roc"]
	path = roc
	url = https://github.com/roc-project/roc.git
