[submodule "roc"]
	path = roc
	url = https://github.com/roc-project/roc.git
[submodule "ngf"]
	path = ngf
	url = https://github.com/ketoo/NoahGameFrame
[submodule "gce"]
	path = gce
	url = https://github.com/nousxiong/gce
[submodule "mlobby"]
	path = mlobby
	url = https://github.com/faha223/MultiLobby.git
[submodule "udpspeeder"]
	path = udpspeeder
	url = https://github.com/wangyu-/UDPspeeder
[submodule "nanogui"]
	path = nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "plugins/RemoteEntanglement/common"]
	path = plugins/RemoteEntanglement/common
	url = https://github.com/pdesaulniers/wolf-common
[submodule "plugins/RemoteEntanglement/Common"]
	path = plugins/RemoteEntanglement/Common
	url = https://github.com/pdesaulniers/wolf-common
